---
---

$header-heading-color: #000;
$header-bg-color: #31477e;
$header-bg-color-secondary: #24aba2;
$section-headings-color: #000;
$header-link-color: #ffffff;

@import "{{ site.theme }}";

.site-name {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px; // Optional: for some spacing
  font-size: 20px; // Adjust as needed
  z-index: 1000; // Ensures it's above other items
}
.site-name a {
  text-decoration: none;
  color: white;  
}

.page-header {
 padding: 20px 0;

}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.08);
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.3);
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.author {
  color: $header-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.main-content.button-page {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: baseline;
}

.site-footer {
  width: 100%;
  margin-top: 20px; 
}

.top-right {
  position:sticky;
    top: 20px; // Required for sticky positioning
  float: right; // Pushes button to the right
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  z-index: 10; /* Ensure it stays on top */
  background-color: #2f2f2f; /* Button background color */
  color: white; /* Button text color */
  font-size: 16px; /* Text size */
  padding: 10px 20px; /* Padding around the text (top/bottom, left/right) */
  border-radius: 5px; /* Rounded corners */
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor to pointer when hovering */
}
.top-right:hover {
  color: rgb(61, 61, 61); /* Change button text color when hoveringe */
  background-color: #9c9c9c81; /* Change background color when hovering */
}

.buas-logo{
  float: left;
  margin-left: calc(-1 * (50vw - 50%));
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0);
  width: 300px;
}

@media (max-width: 768px) {
  .buas-logo{
    float: right;
    margin-left: 20px; 
    margin-right: calc(1 * (50vw - 50%));
    width: 150px;
  }
}

.page-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(163, 197, 198, 0.507); 
  border: transparent;
  border-radius: 5px 5px 10px 10px;
  padding: 5px;
  cursor: pointer; 
  text-align: center;
  width: 320px;
  transition: transform 0.3s ease-in-out;

  img video {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out; /* Smooth scaling transition */
  }

  span{
    margin-top: 10px;
    font-size: 16px;
    color: black;
    transition: transform 0.3s ease-in-out; /* Smooth scaling transition */
    padding: 7px;
  }

  &:hover{
    text-decoration: none;
      transform: scale(1.10);
    span{
      transform: scale(1.05);
    }
  }
}

.page-info-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(205, 98, 36, 0.507); 
  border: transparent;
  border-radius: 5px 5px 10px 10px;
  padding: 5px;
  cursor: pointer; 
  text-align: center;
  width: 320px;
  transition: transform 0.3s ease-in-out;

  /* Set color based on type */
  &[data-type="School - Solo"]{
    background-color: rgba(47, 179, 184, 0.507); 
  }
  &[data-type="School - Team"]{
    background-color: rgba(254, 210, 64, 0.507); 
  }
  &[data-type="Self-Study - Solo"]{
    background-color: rgba(196, 95, 137, 0.507); 
  }
  &[data-type="School - Team"]{
    background-color: rgba(15, 15, 200, 0.507); 
  }

  .title{
    margin-top: 10px;
    font-size: 22px;
    color: black;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out; /* Smooth scaling transition */
    padding: 7px;
  }

  video {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    object-fit: cover;
  }

  img {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .type{
    margin-top: 10px;
    font-size: 16px;
    color: black;
    transition: transform 0.3s ease-in-out; /* Smooth scaling transition */
    padding: 7px;
    &::before {
      content: "Type: ";
      font-weight: bold;
    }
  }

  .description{
    margin-top: 10px;
    font-size: 16px;
    color: black;
    transition: transform 0.3s ease-in-out; /* Smooth scaling transition */
    padding: 7px;
    &::before {
      content: "Description: ";
      font-weight: bold;
    }
  }

  &:hover{
    text-decoration: none;
      transform: scale(1.10);
    span{
      transform: scale(1.05);
    }
  }
}