---
---
$color-palet1: rgba(137, 255, 250, 255);
$color-palet2: rgba(137, 255, 169, 255);
$color-palet3: rgba(73, 156, 152, 255);
$color-palet4: rgba(72, 155, 96, 255);

$color-type1: #5ed549;
$color-type2: #7a6eae;
$color-type3: #00d5ff;
$color-type4: #d85eb1;

$header-heading-color: #000;
$section-headings-color: #000;
$header-link-color: #ffffff;

@import "{{ site.theme }}";


body {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  z-index: 1;
  background-color: #c2f8ff; 
  //background-image: linear-gradient(120deg, #aad4ff, #b8ffdb);
}

.site-name {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px; // Optional: for some spacing
  font-size: 20px;
  z-index: 1000; // Ensures it's above other items

  @include small {
    font-size: 0;
  }
}
.site-name a {
  text-decoration: none;
  color: white;  
}

.page-header {
  position:sticky;
  top: 0px; // Required for sticky positioning
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0;
  z-index: 250;
  background-color: $color-palet1; 
  background-image: linear-gradient(120deg, color-palet3, color-palet1);
}

.btn {
  position: relative;
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.08);
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.0rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  height: 100%;
  margin: 0;
  vertical-align: top;
  text-align: center;
  font-size: 0; //Hide content

  //Display content using opacity transitioning
  &::before{
    content: attr(data-icon);
    font-size: 16px;
    transition: opacity 0.2s;
    opacity: 1;
  }
  &::after {
    content: attr(data-hover);
    font-size: 16px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.2s;
    white-space: nowrap;
    opacity: 0;
  }

  &:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.3);

    &::before{
      opacity: 0;
    }
    
    &::after {
      opacity: 1;
    }
  }

  &.active {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(250, 249, 249, 0.3);
    &::before {
      opacity: 0; // Hide icon
    }
    &::after {
      opacity: 1; // Show text
    }
  }

  + .btn {
    margin-left: 0.25rem;
  }

  @include large {
    width: 7.5rem;
    padding: 1.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;
    margin-top: 0rem; 
  
    + .btn {
      margin-top: 0rem;
      margin-left: 0;
    }
  }
}

.socials-btn{
  display: inline;
  border: transparent;
  border-radius: 5px 5px 10px 10px;
  padding: 5px;
  cursor: pointer; 
  width: 60px;

  img {
    width: 50px;
    height: 50px;
  }
}

.author {
  color: $header-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.main-content {
  position: relative;
  //z-index: 1;
  }

.main-content.button-page {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: baseline;
}

#decorativeCirles {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  overflow: hidden;
}

.random-circle {
  position: absolute;
  border-radius: 50%;
}

.site-footer {
  width: 99vw;
  margin-left: calc(-50vw + 50%); // Pull it out to edges
  margin-right: calc(-50vw + 50%); // Pull it out to edges
  border-top: 1px solid #656565;
  margin-top: 20px; 
}

.top-right {
  position:fixed;
  float: right; // Pushes button to the right
  top: 100px; // Required for sticky positioning
  right: 20px;
  height: 3rem;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  z-index: 10; /* Ensure it stays on top */
  background-color: #2f2f2f; /* Button background color */
  color: white; /* Button text color */
  font-size: 16px; /* Text size */
  padding: 10px 20px; /* Padding around the text (top/bottom, left/right) */
  border-radius: 5px; /* Rounded corners */
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor to pointer when hovering */

  @include small {
    content: none;
    display: none;
  }
}
.top-right:hover {
  color: rgb(61, 61, 61); /* Change button text color when hoveringe */
  background-color: #9c9c9c81; /* Change background color when hovering */
}

body.My_Projects{
  
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background-image: url('/assets/media/Pitfall2D/Title.png');
    background-size: cover; // Scales to cover entire area
    background-position: center; // Centers the image

    filter: blur(15px) brightness(0.8);
    z-index: -1;
  }
}

.buas-logo{
  float: left;
  margin-left: calc(-1 * (50vw - 50%));
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0);
  width: 300px;
}

@media (max-width: 768px) {
  .buas-logo{
    float: right;
    margin-left: 20px; 
    margin-right: calc(1 * (50vw - 50%));
    width: 150px;
  }
}

.page-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(163, 197, 198, 0.507); 
  border: transparent;
  border-radius: 5px 5px 10px 10px;
  padding: 5px;
  cursor: pointer; 
  text-align: center;
  width: 320px;
  transition: transform 0.3s ease-in-out;

  img, video {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out; /* Smooth scaling transition */
  }

  span{
    margin-top: 10px;
    font-size: 16px;
    color: black;
    transition: transform 0.3s ease-in-out; /* Smooth scaling transition */
    padding: 7px;
  }

  &:hover{
    text-decoration: none;
      transform: scale(1.02);
    span{
      transform: scale(1.02);
    }
  }
}

.page-info-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: color-palet3; 
  border: transparent;
  border-radius: 5px 5px 10px 10px;
  padding: 5px;
  cursor: pointer; 
  text-align: center;
  width: 320px;
  transition: transform 0.3s ease-in-out;

  /* Set color based on type */
  &[data-type="School - Solo"]{
    background-color: $color-palet3; 
  }
  &[data-type="School - Team"]{
    background-color: $color-palet4; 
  }
  &[data-type="Self-Study - Solo"]{
    background-color: $color-palet4; 
  }
  &[data-type="Self-Study - Team"]{
    background-color: $color-palet4; 
  }

  .title-row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10px;
  }

  .title{
    font-size: 22px;
    color: black;
    border-radius: 5px;
    padding: 7px;
    flex-grow: 1;
    text-align: center;
  }

  img, video {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    object-fit: cover;
  }

  .types-column{
    display: flex;
    gap: 5px;
    position: absolute;
    left: 0;
  }

  .type{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 16px;
    color: black;
    padding: 5px;
    height: 32px;
    width: 32px;

    /* Set color based on type */
    &[data-type="🏫"]{
      background-color: $color-type1; 
    }
    &[data-type="🏠"]{
      background-color: $color-type2; 
    }
    &[data-type="👤"]{
      background-color: $color-type3; 
    }
    &[data-type="👥"]{
      background-color: $color-type4; 
    }
  }

  .description{
    height: 96px;
    margin-top: 10px;
    font-size: 16px;
    color: black;
    transition: transform 0.3s ease-in-out; /* Smooth scaling transition */
    padding: 7px;
    &::before {
      content: "Description: ";
      font-weight: bold;
    }
  }

  &:hover{
    text-decoration: none;
      transform: scale(1.02);
    span{
      transform: scale(1.02);
    }
  }
}