<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#85b5cc">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script> 
    {% include head-custom.html %}
    <script>
      MathJax = {
        tex: { inlineMath: [['$', '$']] }
      };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
  </head>
  <body>
    
    <header class="page-header" role="banner">
      <div class="site-name">
      <a href="/" title="Return to the homepage">Finn Thiesen</a>
      </div>  
          
      <h2 style="color: white;">{{ site.student.number }}</h2>
      <a href="/" 
      class="btn {% if page.section == "Home" %}active{% endif %}" 
      data-icon="🏠" 
      data-hover="Home Page""> </a>
      
      {% assign sorted_pages = site.pages | sort: 'nav_order' %}
      {% for nav_page in sorted_pages %}
        {% unless nav_page.path contains "Blogs/" or nav_page.path contains "Projects/" %}
          <a href="{{ nav_page.url }}" 
             class="btn {% if page.section == nav_page.section %}active{% endif %}" 
             data-icon="{{ nav_page.icon }}" 
             data-hover="{{ nav_page.preview_title }}">
          </a>        
        {% endunless %}
      {% endfor %}
    
      <div class="socials-container" hide-small="true">
        <a href="https://github.com/finntie" class="socials-btn">
        <img src="/assets/media/extras/GithubLogo.png" alt="Image1">
        </a>
        <a href="https://www.linkedin.com/in/finn-thiesen-a20898317" class="socials-btn">
        <img src="/assets/media/extras/LinkedIn.png" alt="Image1">
        </a>
        <a href="https://x.com/Finntie2" class="socials-btn">
        <img src="/assets/media/extras/X_logo.png" alt="Image1">
        </a>
      </div>

    </header>
    

    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">

      <div style="text-align: center;">
        <a href="https://github.com/finntie" class="socials-btn">
        <img src="/assets/media/extras/GithubLogo.png" alt="Image1">
        </a>
        <a href="https://www.linkedin.com/in/finn-thiesen-a20898317" class="socials-btn">
        <img src="/assets/media/extras/LinkedIn.png" alt="Image1">
        </a>
        <a href="https://x.com/Finntie2" class="socials-btn">
        <img src="/assets/media/extras/X_logo.png" alt="Image1">
        </a>
      </div>      
    </footer>
    </main>

   <!-------------------------------- Side bar -------------------------------->

<nav class="sidebar-nav">

     <!--------------------Networking--------------------->

  <div class="sidebar-nav-item">
    <a href="/pages/Projects/Networking.html" class="sidebar-nav-name">Networking</a>
    <a href="/pages/Projects/Networking.html" class="sidebar-nav-link">
      <img src="/assets/media/DiaDenstraPoster.png" alt="Project" class="sidebar-nav-icon">
    </a>
    <div class="sidebar-tooltip">
      <a class="page-info-button" data-type="School - Solo">
        <img src="/assets/media/Pitfall2D/Thumbnail.png" alt="Image1">
        <div class="title-row">
            <span class="title">Networking</span>
            <div class="types-column">
                <span class="type" data-type="🏫">🏫</span>
                <span class="type" data-type="👤">👤</span>
            </div>
            <span class="time"> 18 weeks</span>
        </div>
        <div class="description-row">
            <span class="description">I made a small networking library using winsock2</span>
            <span class="date">2024 / 2025</span>
        </div>
        </a>
      </div>
      </a>
    </div>
  </div>

     <!--------------------Weather Simulation--------------------->

  <div class="sidebar-nav-item">
    <a href="/pages/Projects/WeatherSimulation.html" class="sidebar-nav-name">Weather Simulation</a>
    <a href="/pages/Projects/WeatherSimulation.html" class="sidebar-nav-link">
      <img src="/assets/media/WeatherSim/Title.png" alt="Project" class="sidebar-nav-icon">
    </a>
    <div class="sidebar-tooltip">
      <a class="page-info-button" data-type="Self-Study - Solo">
        <img src="/assets/media/WeatherSim/Title.png" alt="Image1">
        <div class="title-row">
            <span class="title">Weather Sim</span>
            <div class="types-column">
                <span class="type" data-type="🏠">🏠</span>
                <span class="type" data-type="👤">👤</span>
            </div>
            <span class="time"> 1 year</span>
        </div>
        <div class="description-row">
            <span class="description">Exploring many different parts in a long lasting personal project</span>
            <span class="date">2025 / 2026</span>
        </div>
        </a>
      </div>
      </a>
    </div>
  </div>

     <!--------------------Blender Multiplayer--------------------->

 <div class="sidebar-nav-item">
    <a href="/pages/Projects/BlenderMultiplayer.html" class="sidebar-nav-name">Blender Multiplayer</a>
    <a href="/pages/Projects/BlenderMultiplayer.html" class="sidebar-nav-link">
      <img src="/assets/media/BlenderMultiplayer/Title.png" alt="Project" class="sidebar-nav-icon">
    </a>
    <div class="sidebar-tooltip">
      <a class="page-info-button" data-type="School - Solo">
        <img src="/assets/media/BlenderMultiplayer/Title.png" alt="Image1">
        <div class="title-row">
            <span class="title">Blender</span>
            <div class="types-column">
                <span class="type" data-type="🏫">🏫</span>
                <span class="type" data-type="👤">👤</span>
            </div>
            <span class="time"> 8 weeks</span>
        </div>
        <div class="description-row">
            <span class="description">Learning to work in a big code engine</span>
            <span class="date">2025</span>
        </div>
        </a>
    </div>
  </div>

     <!--------------------Going Bonkers--------------------->

 <div class="sidebar-nav-item">
    <a href="/pages/Projects/GoingBonkers.html" class="sidebar-nav-name">Going Bonkers!</a>
    <a href="/pages/Projects/GoingBonkers.html" class="sidebar-nav-link">
      <img src="/assets/media/GoingBonkers/Title.png" alt="Project" class="sidebar-nav-icon">
    </a>
    <div class="sidebar-tooltip">
      <a class="page-info-button" data-type="School - Team">
        <img src="/assets/media/GoingBonkers/Title.png" alt="Image1">
        <div class="title-row">
            <span class="title">GoingBonkers!</span>
            <div class="types-column">
                <span class="type" data-type="🏫">🏫</span>
                <span class="type" data-type="👥">👥</span>
            </div>
            <span class="time"> 8 weeks</span>
        </div>
        <div class="description-row">
            <span class="description">Second team project with working in Unreal Engine</span>
            <span class="date">2025</span>
        </div>
        </a>
    </div>
  </div>

     <!--------------------Ray Tracing--------------------->

 <div class="sidebar-nav-item">
    <a href="/pages/Projects/RayTrace.html" class="sidebar-nav-name">Ray Tracing</a>
    <a href="/pages/Projects/RayTrace.html" class="sidebar-nav-link">
      <img src="/assets/media/RayTrace/Thumbnail.png" alt="Project" class="sidebar-nav-icon">
    </a>
    <div class="sidebar-tooltip">
      <a class="page-info-button" data-type="School - Solo">
        <img src="/assets/media/RayTrace/Thumbnail.png" alt="Image1">
        <div class="title-row">
            <span class="title">RayTracing</span>
            <div class="types-column">
                <span class="type" data-type="🏫">🏫</span>
                <span class="type" data-type="👤">👤</span>
            </div>
            <span class="time"> 8 weeks</span>
        </div>
        <div class="description-row">
            <span class="description">Ray tracing voxels</span>
            <span class="date">2024</span>
        </div>
        </a>
    </div>
  </div>

</nav>
</body>
</html>