<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#85b5cc">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script> 
    {% include head-custom.html %}
  </head>
  <body>
    
    <header class="page-header" role="banner">
      <div class="site-name">
      <a href="/" title="Return to the homepage">Finn Thiesen</a>
      </div>  
          
      <h2 style="color: white;">{{ site.student.number }}</h2>
      <a href="/" 
      class="btn {% if page.section == "Home" %}active{% endif %}" 
      data-icon="🏠" 
      data-hover="Home Page""> </a>
      
      {% for nav_page in site.pages %}
        {% unless nav_page.path contains "Blogs/" or nav_page.path contains "Projects/" %}
          <a href="{{ nav_page.url }}" 
             class="btn {% if page.section == nav_page.section %}active{% endif %}" 
             data-icon="{{ nav_page.icon }}" 
             data-hover="{{ nav_page.preview_title }}">
          </a>        
        {% endunless %}
      {% endfor %}
    </header>
    
   <!-- If I want random circles <div id="decorativeCircles"></div> -->

    <button id="darkmodeButton" class="btn top-right">DarkMode</button>

    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        <span class="site-footer-credits">Follow me on <a href="https://www.linkedin.com/in/finn-thiesen-a20898317">LinkedIn</a> or <a href="https://x.com/Finntie2">Twitter</a>.</span>
      </footer>
    </main>
  </body>
</html>